# Ejercicios Pandas DataFrames 02

Carga el dataset de vuelos "flights14.csv"

In [ ]:
import pandas as pd
df = pd.read_csv('../../data/flights14.csv', index_col=0)
print(df.head())
df.info()

1. escribe un programa Pandas para dividir los datos basados en origen u destino. Muestra cada grupo y el número de elementos por grupo

In [ ]:
gdf = df.groupby(['origin', 'dest'])
print(gdf.groups.keys())

for g, vals in gdf.groups.items():
    print('grupo:', g, len(vals))

In [ ]:
agdf = gdf.agg({'year': 'count'}).rename(columns={'year':'num'})
agdf

2. Escribe un programa Pandas para calcula la media, desviación estándar, min y max del retraso total de cada origen-destino.

In [ ]:
df['total_delay'] = df['dep_delay']+df['arr_delay']
gdf = df.groupby(['origin', 'dest'])

print(gdf.groups.keys())

agdf = gdf.agg({'total_delay': ['mean', 'std', 'min', 'max']})
print(agdf)

3. Escribe un programa Pandas para dividir un conjunto de datos y agruparlos por dos columnas, y luego ordenar los resultados agregados dentro de los grupos.

En el siguiente conjunto de datos de vuelos, agrupar "date" (fecha completa) y "carrier". Luego ordenar la suma de 'total_delay' dentro de los grupos.

In [ ]:
df['date']=pd.to_datetime(df[['year','month','day']])
gdf = df.groupby(['date','carrier']).agg({'total_delay':sum})
print(gdf,'\n\n')
result = gdf['total_delay'].groupby(level=0, group_keys=False)
print(result.nlargest())

4. Escribe un programa Pandas para contar el múmero de retrasos de salida por mes y origen.

In [ ]:
df.groupby(['origin', 'month'])['month'].count().reset_index(name='count')

5. Escribe un programa Pandas para cargar los datos de productos y ventas del archivo FoodMarket.xlsx y mézclalos en un solo dataframe.

In [10]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df_prods = pd.read_excel('../../data/FoodMarket.xlsx', sheet_name='Products')
df_prods.sort_values(['Product'], ascending=True, inplace=True)
df_prods.head()

In [ ]:
df_purch = pd.read_excel('../../data/FoodMarket.xlsx', sheet_name='Purchases')
df_purch

In [13]:
whole_df = pd.merge(df_purch, df_prods, on='Product')
whole_df.rename(columns={'Name.x':'ProductName'}, inplace=True)
whole_df.sort_values('Product', inplace=True)
whole_df

,Code,Product,Seller,Buyer,Fecha,Quantity,ProductName,provider,Price
721,722,1,29,148,2020-06-03,29,American cheeses,1,8.913593
479,480,1,43,13,2019-08-01,40,American cheeses,1,8.913593
1007,1008,1,45,84,2020-12-05,30,American cheeses,1,8.913593
1048,1049,1,12,159,2020-06-03,31,American cheeses,1,8.913593
1395,1396,1,14,166,2020-02-16,28,American cheeses,1,8.913593
...,...,...,...,...,...,...,...,...,...
596,597,70,37,42,2020-08-30,25,Vodkas,4,40.404487
817,818,70,11,106,2019-01-04,15,Vodkas,4,40.404487
664,665,70,15,62,2019-05-03,32,Vodkas,4,40.404487
673,674,70,48,86,2019-07-30,28,Vodkas,4,40.404487
21,22,70,23,147,2020-10-09,40,Vodkas,4,40.404487

6. Escribe un programa Pandas para extraer información sobre el número de compras totales y el monto total por nombre de producto y año.

In [ ]:
whole_df.info()

In [15]:
# whole_df['year']=whole_df['Fecha'].dt.year
gwhole_df = whole_df.groupby(['ProductName', whole_df['Fecha'].dt.year]).agg({'Quantity': sum})
gwhole_df

                                               Quantity
ProductName                             Fecha
American cheeses                        2019        183
                                        2020        384
                                        2021         97
Appellation d'Origine Contrôlée cheeses 2019        241
                                        2020        184
...                                                 ...
Vegetables                              2019        249
                                        2020        108
Vodkas                                  2019        348
                                        2020        187
                                        2021         66

[205 rows x 1 columns]