In [ ]:
import pandas as pd
import sqlite3

## Function definitions

In [101]:
def get_data_from_api():
    print('Reading...')
    dfj = pd.read_json('api/data.json')
    return dfj

In [ ]:
def write_data(data):
    print('Writing...')
    print(data)
    data.to_csv('csv/data.csv')

In [ ]:
def agg_data():
    df = pd.read_csv('csv/data.csv')
    print('Aggregating...')
    df['date']=pd.to_datetime(df['date']).dt.date    
    select_col=['store','date','price']
    new_df = df.groupby([df["store"],df["date"]]).sum().reset_index()
    new_df.rename(columns={"price":"revenue"},inplace=True)
    print(new_df)
    return new_df

In [ ]:
def load_data(pdf):
    con = sqlite3.connect("db/database.db")
    print('Loading...')
    print(pdf)
    pdf.to_sql(name='agg_data', con=con, if_exists="replace")

## ETL Steps

In [102]:
# Pull Data from API
data = get_data_from_api()
data

Reading...

   transaction_id  store                date  price
0               1     10 2020-05-01 10:05:01  100.5
1               2     10 2020-05-01 10:06:02  120.5

In [98]:
## Output Data to CSV
write_data(data)

Writing...
   transaction_id  store                date  price
0               1     10 2020-05-01 10:05:01  100.5
1               2     10 2020-05-01 10:06:02  120.5

In [99]:
## Transformation to Aggregate Data
proc_data = agg_data()

Aggregating...
   store        date  Unnamed: 0  transaction_id  revenue
0     10  2020-05-01           1               3    221.0

In [100]:
## Load Data to DB
load_data(proc_data)

Loading...
   store        date  Unnamed: 0  transaction_id  revenue
0     10  2020-05-01           1               3    221.0