In [ ]:
import pandas as pd

In [ ]:
data = { 'apples':[3, 2, 0, 1] , 'oranges':[0, 3, 7, 2] }

In [ ]:
data

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df = pd.DataFrame(data, index=['Luis', 'Ana', 'Juana', 'Pedro'])

In [ ]:
df

In [ ]:
df.loc['Ana']

In [ ]:
data = {'col_1':[3, 2, 1, 0], 'col_2':['a','b','c','d']}
pd.DataFrame.from_dict(data)

In [ ]:
data = {'row_1':[3, 2, 1, 0], 'row_2':['a','b','c','d']} 
pd.DataFrame.from_dict(data, orient='index')

In [ ]:
data = {'row_1':[3, 2, 1, 0], 'row_2':['a','b','c','d']} 
pd.DataFrame.from_dict(data, orient  = 'index', columns = ['A','B','C','D'])

In [ ]:
dff = pd.read_csv('data/frutas.csv', index_col=0)

In [ ]:
dff

In [ ]:
df.to_json('data/frutas.json')

In [ ]:
dfj = pd.read_json('data/frutas.json')
dfj

In [ ]:
movies_df = pd.read_csv("data/movies.csv", index_col="title")

In [ ]:
movies_df

In [ ]:
movies_df.head()

In [ ]:
movies_df.tail(2)

In [ ]:
movies_df.info()

In [ ]:
movies_df.shape

In [ ]:
temp_df = movies_df.append(movies_df) 
temp_df.shape

In [ ]:
temp_df2 = pd.concat([movies_df, movies_df], ignore_index=True)
temp_df2.shape

In [ ]:
temp_df.drop_duplicates(inplace=True) 
temp_df.shape

In [ ]:
movies_df.describe()

In [ ]:
movies_df['genres'].describe()

In [ ]:
data = [1,2,3,10,20,30]
df = pd.DataFrame(data)
print(df)

In [ ]:
data = {'Name' : ['AA', 'BB'], 'Age': [30,45]}
df = pd.DataFrame(data)
print(df)

In [ ]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

In [ ]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print(df)

In [ ]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data,index=['first','second'],columns=['a','b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data,index=['first','second'],columns=['a','b1'])

print(df1)
print('...........')
print(df2)

In [ ]:
d = {'one' : pd.Series([1, 2, 3]  , index=['a', 'b', 'c']), 
     'two' : pd.Series([1,2, 3, 4], index=['a', 'b', 'c', 'd'])
    }
df = pd.DataFrame(d)
print(df)

In [ ]:
d = {'one':pd.Series([1,2,3],   index=['a','b','c']), 
     'two':pd.Series([1,2,3,4], index=['a','b','c','d'])
    }
df = pd.DataFrame(d)
# Adding a new column to an existing DataFrame object
# with column label by passing new series

print("Adding a new column by passing as Series:")
df['three'] = pd.Series([10,20,30],index=['a','b','c'])
print(df)

print("Adding a column using an existing columns in DataFrame:")
df['four'] = df['one']+df['three']
print(df)

In [ ]:
d = {'one'   : pd.Series([1, 2, 3],    index=['a', 'b', 'c']),
     'two'   : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
     'three' : pd.Series([10,20,30],   index=['a','b','c'])
    }
df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)

# using del function
print("Deleting the first column using DEL function:")
del df['one']
print(df)

# using pop function
print("Deleting another column using POP function:")
df.pop('two')
print(df)

In [ ]:
d = {'one' : pd.Series([1, 2, 3],    index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c','d'])
    }
df = pd.DataFrame(d)
print(df[2:4])

In [ ]:
d = {'one' : pd.Series([1, 2, 3],    index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c','d'])
    }
df = pd.DataFrame(d)
print(df)

df2 = pd.DataFrame([[5,6], [7,8]], columns = ['a', 'b'])
df = df.append(df2 )
print(df)

In [ ]:
d = {'one':pd.Series([1, 2, 3],    index=['a','b','c']),
     'two':pd.Series([1, 2, 3, 4], index=['a','b','c','d'])
    }
df = pd.DataFrame(d)
print(df)

df2 = pd.DataFrame([[5,6], [7,8]], columns = ['a', 'b'])
df = df.append(df2 )
print(df)

df = df.drop(0)
print(df)

In [ ]:
# Creating the first dataframe
df1 = pd.DataFrame({"A":[1, 5, 3, 4, 2],
		     "B":[3, 2, 4, 3, 4],
		     "C":[2, 2, 7, 3, 4],
		     "D":[4, 3, 6, 12, 7]},
		     index =["A1", "A2", "A3", "A4", "A5"])

# Creating the second dataframe
df2 = pd.DataFrame({"A":[10, 11, 7, 8, 5],
		     "B":[21, 5, 32, 4, 6],
		     "C":[11, 21, 23, 7, 9],
		     "D":[1, 5, 3, 8, 6]},
		     index =["A1", "A3", "A4", "A7", "A8"])

# Print the first dataframe
print(df1)
print(df2)
# find matching indexes
df1.reindex_like(df2)

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'Name':['A','B'], 'SSN':[10,20], 'marks':[90, 95] })
df2 = pd.DataFrame({'Name':['B','C'], 'SSN':[25,30], 'marks':[80, 97] })
df3 = pd.concat([df1, df2])
df3

In [ ]:

cat = pd.Categorical(['a', 'b', 'c', 'a', 'b', 'c'])
print(cat)

In [ ]:
import numpy as np
cat = pd.Categorical(["a", "c", "c", np.nan], categories=["b", "a", "c"])
df = pd.DataFrame({"cat": cat, "s":["a", "c", "c", np.nan]})
print(df.describe())
print(df["cat"].describe())

In [ ]:
!pip install pysqlite3

In [ ]:
import sqlite3 
con = sqlite3.connect("data/database.db")

In [ ]:
movies_df.to_sql(name='movies', con=con)

In [ ]:
df = pd.read_sql_query("SELECT * FROM movies", con,index_col='title') 
df.shape

In [ ]:
df

In [ ]:
import matplotlib.pyplot as plt

df = pd.read_csv('data/iris.data',header=None)
df.plot()
plt.show()

In [ ]:
df

In [ ]:
nombres = ['long_sepalo','ancho_sepalo','long_petalo','ancho_petalo','clase']
df.columns = nombres

In [ ]:
df['ancho_petalo'].plot()

In [ ]:
df['long_petalo'].plot()

In [ ]:
df.plot(figsize=[12,7])

In [ ]:
df['long_petalo'].plot(kind='bar')